.superpowers/
.DS_Store
node_modules/
*.log
.env
.env.local
.worktrees/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
